In [1]:
from __future__ import print_function

import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import sklearn as slearn



from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

print('Python: {}'.format(sys.version))
print('Seaborn {}'.format(sns.__version__))
print('sklearn: {}'.format(slearn.__version__))

Python: 3.8.1 (tags/v3.8.1:1b293b6, Dec 18 2019, 22:39:24) [MSC v.1916 32 bit (Intel)]
Seaborn 0.10.0
sklearn: 0.22.2.post1

In [2]:
covid_ind_df = pd.read_csv('C:/Users/Shashi/MachineLearning/covid19-in-india/covid_19_india.csv')
hospital_ind_df = pd.read_csv('C:/Users/Shashi/MachineLearning/covid19-in-india/HospitalBedsIndia.csv')
icmr_testing_df = pd.read_csv('C:/Users/Shashi/MachineLearning/covid19-in-india/ICMRTestingDetails.csv')
individual_details_df = pd.read_csv('C:/Users/Shashi/MachineLearning/covid19-in-india/IndividualDetails.csv')

In [3]:
covid_ind_df.head(10)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1.0,30/01/20,6:00 PM,Kerala,1,0,0.0,0.0,1.0
1,2.0,31/01/20,6:00 PM,Kerala,1,0,0.0,0.0,1.0
2,3.0,01/02/20,6:00 PM,Kerala,2,0,0.0,0.0,2.0
3,4.0,02/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0
4,5.0,03/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0
5,6.0,04/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0
6,7.0,05/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0
7,8.0,06/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0
8,9.0,07/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0
9,10.0,08/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0

In [4]:
hospital_ind_df.head(10)

,Sno,State/UT,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18,Unnamed: 12,Unnamed: 13
0,1.0,Andaman & Nicobar Islands,27,4,NaN,3,34,1246,27.0,575.0,3.0,500.0,NaN,NaN
1,2.0,Andhra Pradesh,1417,198,31,20,1666,60799,193.0,6480.0,65.0,16658.0,NaN,NaN
2,3.0,Arunachal Pradesh,122,62,NaN,15,199,2320,208.0,2136.0,10.0,268.0,NaN,NaN
3,4.0,Assam,1007,166,14,33,1220,19115,1176.0,10944.0,50.0,6198.0,NaN,NaN
4,5.0,Bihar,2007,63,33,43,2146,17796,930.0,6083.0,103.0,5936.0,NaN,NaN
5,6.0,Chandigarh,40,2,1,4,47,3756,0.0,0.0,4.0,778.0,NaN,NaN
6,7.0,Chhattisgarh,813,166,12,32,1023,14354,169.0,5070.0,45.0,4342.0,NaN,NaN
7,8.0,Dadra & Nagar Haveli,9,2,1,1,13,568,10.0,273.0,1.0,316.0,NaN,NaN
8,9.0,Daman & Diu,4,2,NaN,2,8,298,5.0,240.0,0.0,0.0,NaN,NaN
9,10.0,Delhi,534,25,9,47,615,20572,0.0,0.0,109.0,24383.0,NaN,NaN

In [5]:
icmr_testing_df.head(10)

,SNo,DateTime,TotalSamplesTested,TotalIndividualsTested,TotalPositiveCases,Source
0,1,13/03/20 18:00,6500.0,5900.0,78.0,Press_Release_ICMR_13March2020.pdf
1,2,18/03/20 18:00,13125.0,12235.0,150.0,ICMR_website_update_18March_6PM_IST.pdf
2,3,19/03/20 18:00,14175.0,13285.0,182.0,ICMR_website_update_19March_6PM_IST.pdf
3,4,20/03/20 18:00,15404.0,14514.0,236.0,ICMR_website_update_20March_6PM_IST.pdf
4,5,21/03/20 18:00,16911.0,16021.0,315.0,ICMR_website_update_21March_6PM_IST.pdf
5,6,22/03/20 18:00,18127.0,17237.0,396.0,ICMR_website_update_22March_6PM_IST.pdf
6,7,23/03/20 20:00,20707.0,19817.0,471.0,ICMR_website_update_23March_8PM_IST.pdf
7,8,24/03/20 20:00,22694.0,21804.0,536.0,ICMR_website_update_24March_8PM_IST.pdf
8,9,25/03/20 20:00,25144.0,24254.0,581.0,ICMR_website_update_25March_8PM_IST.pdf
9,10,26/03/20 20:00,NaN,NaN,NaN,NaN

In [6]:
individual_details_df.head(10)

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."
5,5,NaN,03/03/2020,69,M,Jaipur,Italians*,Rajasthan,Italy,Recovered,03/03/2020,Travelled from Italy
6,6,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy
7,7,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy
8,8,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy
9,9,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy

#  Preprocessing Data - Renaming columns and Using Lower Case

In [7]:
covid_ind_df = covid_ind_df.rename(columns = {'State/UnionTerritory':'state'})
covid_ind_df.columns = map(str.lower, covid_ind_df.columns)

In [8]:
covid_ind_df.columns

Index(['sno', 'date', 'time', 'state', 'confirmedindiannational',
       'confirmedforeignnational', 'cured', 'deaths', 'confirmed'],
      dtype='object')

In [9]:
sorted_state_df = covid_ind_df.sort_values('confirmed', ascending = False)
sorted_state_df.head(10)

,sno,date,time,state,confirmedindiannational,confirmedforeignnational,cured,deaths,confirmed
788,789.0,09/04/20,5:00 PM,Maharashtra,-,-,117.0,72.0,1135.0
757,758.0,08/04/20,5:00 PM,Maharashtra,-,-,79.0,64.0,1018.0
726,727.0,07/04/20,6:00 PM,Maharashtra,-,-,56.0,48.0,868.0
696,697.0,06/04/20,6:00 PM,Maharashtra,-,-,56.0,45.0,748.0
795,796.0,09/04/20,5:00 PM,Tamil Nadu,-,-,21.0,8.0,738.0
764,765.0,08/04/20,5:00 PM,Tamil Nadu,-,-,19.0,7.0,690.0
777,778.0,09/04/20,5:00 PM,Delhi,-,-,21.0,9.0,669.0
733,734.0,07/04/20,6:00 PM,Tamil Nadu,-,-,8.0,5.0,621.0
715,716.0,07/04/20,6:00 PM,Delhi,-,-,21.0,7.0,576.0
746,747.0,08/04/20,5:00 PM,Delhi,-,-,21.0,9.0,576.0

In [10]:
import plotly.graph_objects as go

def state_covid_plot(state):
    labels = ['confirmed', 'deaths','cured']
    colors = ['blue','red','green']
    
    line_size = [4,5,6]
    
    fig = go.Figure()
    
    
    state_df = covid_ind_df.loc[covid_ind_df['state'] == state]
    x_confirm_data = state_df['date']
    y_confirm_data = state_df['confirmed']
    y_death_data = state_df['deaths']
    y_cured_data = state_df['cured']
    
    x_data = np.array(list(x_confirm_data))
    deaths =  np.array(list(y_death_data))
    confirm = np.array(list(y_confirm_data))
    cured = np.array(list(y_cured_data))
    
    df_list = [confirm, deaths,cured]
    
    for i, data in enumerate(df_list):
        fig.add_trace( go.Scatter (x=x_data, y=data, mode='lines+markers', 
                                   name = labels[i], line = dict(color = colors[i], width = line_size[i]), 
                                  connectgaps = True, text = "Total" + str(labels[i]) + str(data[-1]) 
                                  ))
        fig.update_layout(title='COVID Impact In : '+state)
    fig.show()

In [11]:
state_list = list(covid_ind_df['state'].unique())

In [12]:
 interact(state_covid_plot, state=state_list);

interactive(children=(Dropdown(description='state', options=('Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Utt…